# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Production
*.tsbuildinfo
next-env.d.ts

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Database
db/
*.db
*.db-journal
*.sqlite
*.sqlite3

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
*.log

# Logs
dev.log
server.log

# Uploads / Downloads
upload/
download/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
*.pem
.vercel

# Bun
.bun/clear